/* Header */
.header {
  padding: 15px 0;
  height: 20vh;
}
.logo {
  font-family: var(--sub-font);
  font-size: 27px;
  font-weight: 400;
}
/* Header */


/* Tool */
.tool-sec {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tool-content h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: 600;
}

.tool-content p {
  font-size: 16px;
  font-weight: 500;
}

.tool-content h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: 600;
}

.tool-content p {
  font-size: 16px;
  font-weight: 500;
}

form.convert-form input {
  display: block;
  margin: auto;
  width: 500px;
  max-width: 400px;
  padding: 12px 15px;
  margin-top: 35px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgb(255 255 255 / 31%);
  box-shadow: 0 5px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  color: #fff;
  font-weight: 500;
}

form.convert-form input::placeholder {
  color: #fff;
  font-weight: 300;
}

form.convert-form button {
  width: 120px;
  font-size: 15px;
  border: none;
  padding: 12px 0;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: #306fd3;
  margin-bottom: 50px;
}

.tool-content a {
  border-bottom: 2px solid;
  font-weight: 500;
}
/* Tool */

@media screen and (max-width: 600px) {
  form.convert-form input {
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
  }
  .tool-content h1 {
    font-size: 30px;
  }

  .tool-content p {
      font-size: 12px;
  }

  form.convert-form button {
      font-size: 14px;
      padding: 10px 0;
  }

  .tool-content a {
      font-size: 12px;
  }
}