@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&display=swap');
/* 
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
*/
:root {
  --main-font: 'Montserrat', sans-serif;
  --sub-font: 'Lobster', cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 15px;
  color: #fff;
  /* ff 3.6+ */
  background: -moz-linear-gradient(45deg, rgba(63, 81, 181, 1) 0%, rgba(238, 130, 238, 1) 50%, rgba(238, 193, 130, 1) 101%); 

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(45deg, rgba(63, 81, 181, 1) 0%, rgba(238, 130, 238, 1) 50%, rgba(238, 193, 130, 1) 101%);

  /* opera 11.10+ */
  background: -o-linear-gradient(45deg, rgba(63, 81, 181, 1) 0%, rgba(238, 130, 238, 1) 50%, rgba(238, 193, 130, 1) 101%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEC182', endColorstr='#3F51B5', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(45deg, rgba(63, 81, 181, 1) 0%, rgba(238, 130, 238, 1) 50%, rgba(238, 193, 130, 1) 101%);

  /* global 94%+ browsers support */
  background: linear-gradient(45deg, rgba(63, 81, 181, 1) 0%, rgba(238, 130, 238, 1) 50%, rgba(238, 193, 130, 1) 101%);
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}